doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src='https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL", crossorigin="anonymous")
        title Edit Post
    body 
        .container-md 
            h1 Editing
            form(id="createPostForm" action=`/post/editpost/${PostDetail._id}` method="post" enctype='multipart/form-data')
                .mb-3
                  label(for="title" class="form-label") Title
                  input(type="text" class="form-control" id="title" name="title" value =`${PostDetail.title}` required)
                .mb-3
                  label(for="introduction" class="form-label") introduction
                  input(type="text" class="form-control" id="introduction" name="introduction" value =`${PostDetail.introduction}` required)
                .mb-3
                  label(for="content" class="form-label") Content
                  textarea(class="form-control" id="content" name="content" rows="4" )
                    div!= PostDetail.content
                .mb-3
                  label(for="urlThumnail" class="form-label") URL Thumbnail
                  input(type="file" class="form-control" id="urlThumnail" name="urlThumnail" value =`${PostDetail.urlThumnail}`)
                  img.img-thumbnail(src=`${PostDetail.urlThumnail}`, alt="")
                .mb-3
                  label(for="author" class="form-label") Author
                  input(type="text" class="form-control" id="author" name="author" value =`${PostDetail.author}` required)
                .mb-3
                  label(for="author" class="form-label") Tags
                  input(type="text" class="form-control" id="tags" name="tags" value =`${PostDetail.tags}` required)
                .mb-3
                  button(type="submit" class="btn btn-success") Save Post
                  button(type="submit" class="btn btn-link") 
                    a(href="/post/manager") Back manager post 
script.
  document.addEventListener('DOMContentLoaded', function () {
    ClassicEditor
      .create(document.querySelector('#content'), {
        // Các tùy chọn của CKEditor
      })
      .catch(error => {
        console.error(error);
      })
  });