doctype html
//
  Future Imperfect by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title Tran Ngoc Minh Duc
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  style 
    include ./assets/css/main.css
// Wrapper
#wrapper
  // Header
  header#header
    h1
      a(href='index.html') Trần Ngọc Minh Đức - 2024
    nav.links
      ul
        li
          a(href='#') January
        li
          a(href='#') February
        li
          a(href='#') March
        li
          a(href='#') April
        li
          a(href='#') May
        li
          a(href='#') June
        li
          a(href='#') July
        li
          a(href='#') August
        li
          a(href='#') September
        li
          a(href='#') October
        li
          a(href='#' style="font-weight: bold;") November
        li
          a(href='#') December
  // Menu
  section#menu
    // Search
    section
      form.search(method='get' action='#')
        input(type='text' name='query' placeholder='Search')
    // Links
    section
      ul.links
        li
          a(href='#')
            h3 Lorem ipsum
            p Feugiat tempus veroeros dolor
    // Actions
    section
      ul.actions.stacked
        li
          a.button.large.fit(href='#') Log In
  // Main
  #main
    // Post
    article.post
      header
        .title
          h2
            a(href=`/post/detail/${Posts[5]._id}`) #{Posts[5].title}
          p #{Posts[5].introduction}
        .meta
          time.published(datetime='2015-11-01') November 1, 2015
          a.author(href='#')
            span.name Tran Ngoc Minh Duc
            img(src='/static/blog/images/logo.jpg' alt='')
      a.image.featured(href='/1')
        img(src=`${Posts[5].urlThumnail}` alt='')
      p
        | Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt
        | sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
      footer
        ul.actions
          li
            a.button.large(href=`/post/detail/${Posts[0]._id}`) Continue Reading
        ul.stats
          li
            a(href='#') General
          li
            a.icon.solid.fa-heart(href='#') 28
          li
            a.icon.solid.fa-comment(href='#') 128
    
    ul.actions.pagination
      li
        a.disabled.button.large.previous(href='') Previous Page
      li
        a.button.large.next(href='#') Next Page
  // Sidebar
  section#sidebar
    // Intro
    section#intro
      a.logo(href='#')
        //- img(src='/static/blog/images/avatar.jpg' alt='logo')
        img( style='width: 10em; height: 20vh;' src='/static/blog_img/avatar-1705075828050.jpg' alt='logo')
        //- img( style='width: 10em; height: 20vh;' src='https://scontent.fhan19-1.fna.fbcdn.net/v/t39.30808-6/363350135_3497124177235276_7613247811719280567_n.jpg?stp=cp6_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=iV1HxdOWOmgAX_NOCHu&_nc_ht=scontent.fhan19-1.fna&oh=00_AfA-x0HR6039iZuBtPAVD0RqzjDidH8wMLSH6QHnON16Xw&oe=659F1728' alt='logo')
      header
        h2 Trần Ngọc Minh Đức
        p
          | "when you think about some thing, then you get it !!!" 
    // Mini Posts
    section
      .mini-posts
        // Mini Post
        each post in Posts.slice(1, 3)
          article.mini-post
            header
              h3
                a(href=`/post/detail/${post._id}`) #{post.title}
              time.published(datetime=`${post.createdAt}`) #{post.createdAt}
              a.author(href=`/post/detail/${post._id}`)
                img(src='/static/blog/images/avatar.jpg' alt='')
            a.image(href=`/post/detail/${post._id}`)
              img(src=`${post.urlThumnail}` alt='')
    
    // Posts List
    section
      each post in Posts.slice(1, 3)
        ul.posts
          li
            article
              header
                h3
                  a(href=`/post/detail/${post._id}`) #{post.title}
                time.published(datetime=`${post.createdAt}`) #{post.createdAt}
              a.image(href='/1')
                img(src=`${post.urlThumnail}` alt='')
        
    // About
    section.blurb
      h2 About
      p
        | Chào các bạn mình là Đức, và các bạn đang thấy một phần tuổi trẻ của mình !
      ul.actions
        li
          a.button(href='#') Learn More
    // Footer
    section#footer
      ul.icons
        li
          a.icon.brands.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.brands.fa-facebook-f(href='#')
            span.label Facebook
        li
          a.icon.brands.fa-instagram(href='#')
            span.label Instagram
        li
          a.icon.solid.fa-rss(href='#')
            span.label RSS
        li
          a.icon.solid.fa-envelope(href='#')
            span.label Email
      p.copyright
        | &copy; Untitled. Design: 
        a(href='http://html5up.net') HTML5 UP
        | . Images: 
        a(href='http://unsplash.com') Unsplash
        | .
// Scripts
script(src='./assets/js/jquery.min.js')
script(src='./assets/js/browser.min.js')
script(src='./assets/js/breakpoints.min.js')
script(src='./assets/js/util.js')
script(src='./assets/js/main.js')
