doctype html
//
  Future Imperfect by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
  infoView, Posts, newPostCenter, newPostSide, recomentPostExport
head
  title TranNgocMinhDuc
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  style 
    include assets/css/main.css
// Wrapper
#wrapper
  // Header
  header#header
    h1
      a(href='/home') Trần Ngọc Minh Đức - 2024
    nav.links
      ul
        li
          a(href='/post/month/1') January
        li
          a(href='/post/month/2') February
        li
          a(href='/post/month/3') March
        li
          a(href='/post/month/4') April
        li
          a(href='/post/month/5') May
        li
          a(href='/post/month/6') June
        li
          a(href='/post/month/7') July
        li
          a(href='/post/month/8') August
        li
          a(href='/post/month/9') September
        li
          a(href='/post/month/10') October
        li
          a(href='/post/month/11' style="font-weight: bold;") November
        li
          a(href='/post/month/12') December
  // Menu
  section#menu
    // Search
    section
      form.search(method='get' action='#')
        input(type='text' name='query' placeholder='Search')
    // Links
    section
      ul.links
        li
          a(href='#')
            h3 Lorem ipsum
            p Feugiat tempus veroeros dolor
    // Actions
    section
      ul.actions.stacked
        li
          a.button.large.fit(href='#') Log In
  // Main
  #main
    // Post
    each post in newPostCenter
      article.post
        header
          .title
            h2
              a(href=`/post/detail/${post._id}`) #{post.title}
            p #{post.introduction}
          .meta
            time.published(datetime=`${post.createAt}`) #{post.createAt}
            a.author(href='#')
              span.name #{post.author}
              img(src=`${infoView.avatar}` alt='')
        a.image.featured(href='/1')
          img(src=`${post.urlThumnail}` alt='')
        p
          | #{post.introduction}
        footer
          ul.actions
            li
              a.button.large(href=`/post/detail/${post._id}`) Continue Reading
          ul.stats
            li
              a(href='#') view
            li
              a.icon.solid.fa-heart(href='#') 28
            //- li
            //-   a.icon.solid.fa-comment(href='#') 128
    
    ul.actions.pagination
      li
        a.disabled.button.large.previous(href='') Previous Page
      li
        a.button.large.next(href='#') Next Page
  // Sidebar
  section#sidebar
    //- // Intro
    //- section#intro
    //-   a.logo(href='/home')
    //-     img( src=`${infoView.avatar}` alt='logo')
    //-     //- img( style='width: 10em; height: 20vh;' src='https://scontent.fhan19-1.fna.fbcdn.net/v/t39.30808-6/363350135_3497124177235276_7613247811719280567_n.jpg?stp=cp6_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=iV1HxdOWOmgAX_NOCHu&_nc_ht=scontent.fhan19-1.fna&oh=00_AfA-x0HR6039iZuBtPAVD0RqzjDidH8wMLSH6QHnON16Xw&oe=659F1728' alt='logo')
    //-   header
    //-     h2 #{infoView.displayname}
    //-     p
    //-       | '#{infoView.aboutme}' 
    // Mini Posts
    section
      .mini-posts
        // Mini Post
        each post in newPostSide
          article.mini-post
            header
              h3
                a(href=`/post/detail/${post._id}`) #{post.title}
              time.published(datetime=`${post.createAt}`) #{post.createAt}
              a.author(href=`/post/detail/${post._id}`)
                img(src=`${infoView.avatar}` alt='')
            a.image(href=`/post/detail/${post._id}`)
              img(src=`${post.urlThumnail}` alt='')
    
    // Posts List
    section
      each post in recomentPostExport
        ul.posts
          li
            article
              header
                h3
                  a(href=`/post/detail/${post._id}`) #{post.title}
                time.published(datetime=`${post.createAt}`) #{post.createAt}
              a.image(href=`/post/detail/${post._id}`)
                img(src=`${post.urlThumnail}` alt='')
        
    // About
    section.blurb
      h2 About
      p
        | Bài bài viết trong tháng của tháng ... !
      ul.actions
        li
          a.button(href='#') Learn More
    // Footer
    section#footer
      ul.icons
        li
          a.icon.brands.fa-twitter(href='#')
            span.label Twitter
        li
          a.icon.brands.fa-facebook-f(href='#')
            span.label Facebook
        li
          a.icon.brands.fa-instagram(href='#')
            span.label Instagram
        li
          a.icon.solid.fa-rss(href='#')
            span.label RSS
        li
          a.icon.solid.fa-envelope(href='#')
            span.label Email
      
// Scripts
script(src='static/blog/assets/js/jquery.min.js')
script(src='static/blog/assets/js/browser.min.js')
script(src='static/blog/assets/js/breakpoints.min.js')
script(src='static/blog/assets/js/util.js')
script(src='static/blog/assets/js/main.js')
